import absl
from tfx.orchestration.beam.beam_dag_runner import BeamDagRunner

{{ notebook_content }}

absl.logging.set_verbosity(absl.logging.INFO)

tfx_pipeline = pipeline.Pipeline(
    pipeline_name=_pipeline_name,
    pipeline_root=_pipeline_root,
    components=components,
    enable_cache=True,
    metadata_connection_config=(
        metadata.sqlite_metadata_connection_config(_metadata_path)),

    # direct_num_workers=0 means auto-detect based on the number of CPUs
    # available during  execution time.
    #
    # TODO(b/142684737): The multi-processing API might change.
    beam_pipeline_args = ['--direct_num_workers=0'],

    additional_pipeline_args={})

BeamDagRunner().run(tfx_pipeline)
