absl-py==0.7.0
ansiwrap==0.8.4
apache-beam==2.10.0
astor==0.7.1
avro==1.8.2
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bleach==3.1.0
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
configparser==3.7.1
crcmod==1.7
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.9
docopt==0.6.2
entrypoints==0.3
enum34==1.1.6
fastavro==0.21.18
fasteners==0.14.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
gast==0.2.2
google-api-core==1.7.0
google-apitools==0.5.24
google-auth==1.6.3
google-cloud-bigquery==1.6.1
google-cloud-core==0.29.1
google-cloud-pubsub==0.39.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
googledatastore==7.0.2
grpc-google-iam-v1==0.11.4
grpcio==1.18.0
h5py==2.9.0
hdfs==2.2.2
httplib2==0.11.3
idna==2.8
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
mistune==0.8.4
ml-metadata==0.13.1.dev0
mock==2.0.0
monotonic==1.5
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.8
numpy==1.15.4
oauth2client==3.0.0
pandas==0.24.1
pandocfilters==1.4.2
papermill==0.18.2
pathlib2==2.3.3
pbr==5.1.2
pexpect==4.6.0
pickleshare==0.7.5
pkg-resources==0.0.0
prometheus-client==0.6.0
prompt-toolkit==1.0.15
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.7.0rc2
ptyprocess==0.6.0
py==1.8.0
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pydot==1.2.4
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyVCF==0.6.8
PyYAML==4.2b1
pyzmq==18.0.0
qtconsole==4.4.3
requests==2.21.0
retry==0.9.2
rsa==4.0
scandir==1.9.0
scikit-learn==0.20.2
scipy==1.2.1
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.5.3
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-data-validation==0.12.0
tensorflow-metadata==0.12.1
tensorflow-model-analysis==0.11.0
tensorflow-transform==0.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
textwrap3==0.9.2
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
typing==3.6.6
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
