absl-py==0.7.1
alembic==0.9.10
apache-airflow==1.10.3
apache-beam==2.12.0
astor==0.7.1
attrs==19.1.0
avro==1.8.2
Babel==2.7.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==3.1.0
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.5.3
crcmod==1.7
croniter==0.3.30
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
docopt==0.6.2
docutils==0.14
entrypoints==0.3
enum34==1.1.6
fastavro==0.21.22
fasteners==0.14.1
Flask==1.0.3
Flask-Admin==1.5.3
Flask-AppBuilder==1.12.3
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.0
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gast==0.2.2
gitdb2==2.0.5
GitPython==2.1.11
google-api-core==1.10.0
google-api-python-client==1.7.8
google-apitools==0.5.26
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-bigquery==1.6.1
google-cloud-bigtable==0.31.1
google-cloud-core==0.28.1
google-cloud-pubsub==0.39.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
googledatastore==7.0.2
grpc-google-iam-v1==0.11.4
grpcio==1.20.1
gunicorn==19.9.0
h5py==2.9.0
hdfs==2.5.1
httplib2==0.11.3
idna==2.8
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
json-merge-patch==0.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
lockfile==0.12.2
lxml==4.3.4
Mako==1.0.13
Markdown==2.6.11
MarkupSafe==1.1.1
mistune==0.8.4
ml-metadata==0.13.2
mock==2.0.0
monotonic==1.5
nbconvert==5.5.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.3
oauth2client==3.0.0
ordereddict==1.1
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.3
pbr==5.2.0
pendulum==1.4.4
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==1.0.16
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.7.1
psutil==5.6.3
ptyprocess==0.6.0
pyarrow==0.11.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pydot==1.2.4
Pygments==2.3.1
pyparsing==2.4.0
pyrsistent==0.15.1
python-daemon==2.1.2
python-dateutil==2.8.0
python-editor==1.0.4
python-openid==2.2.5
python-snappy==0.5.4
pytz==2019.1
pytzdata==2019.2
PyVCF==0.6.8
PyYAML==3.13
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
rsa==4.0
scandir==1.10.0
scikit-learn==0.20.3
scipy==1.1.0
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
smmap2==2.0.5
SQLAlchemy==1.2.19
tabulate==0.8.3
tenacity==4.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-data-validation==0.13.1
tensorflow-estimator==1.13.0
tensorflow-metadata==0.13.0
tensorflow-model-analysis==0.13.2
tensorflow-transform==0.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
tfx==0.13.0
thrift==0.11.0
tornado==5.1.1
traitlets==4.3.2
typing==3.6.6
tzlocal==1.5.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.24.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.2
widgetsnbextension==3.4.2
WTForms==2.2.1
zope.deprecation==4.4.0
