absl-py==0.7.1
alembic==0.9.10
apache-airflow==1.10.3
apache-beam==2.13.0
astor==0.8.0
attrs==19.1.0
avro-python3==1.9.0
Babel==2.7.0
backcall==0.1.0
bleach==3.1.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==3.5.3
crcmod==1.7
croniter==0.3.30
ddt==1.2.1
decorator==4.4.0
defusedxml==0.6.0
dill==0.2.9
docopt==0.6.2
docutils==0.15
entrypoints==0.3
fastavro==0.21.24
fasteners==0.15
Flask==1.0.3
Flask-Admin==1.5.3
Flask-AppBuilder==1.12.3
Flask-Babel==0.12.2
Flask-Caching==1.3.3
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.0
flask-swagger==0.2.13
Flask-WTF==0.14.2
funcsigs==1.0.0
future==0.16.0
gast==0.2.2
gitdb==0.6.4
gitdb2==2.0.5
GitPython==2.1.12
google-api-core==1.14.0
google-api-python-client==1.7.9
google-apitools==0.5.28
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-bigquery==1.6.1
google-cloud-bigtable==0.32.2
google-cloud-core==0.29.1
google-cloud-datastore==1.7.4
google-cloud-pubsub==0.39.1
google-pasta==0.1.7
google-resumable-media==0.3.2
googleapis-common-protos==1.6.0
grpc-google-iam-v1==0.11.4
grpcio==1.22.0
gunicorn==19.9.0
h5py==2.9.0
hdfs==2.5.8
httplib2==0.12.0
idna==2.8
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
iso8601==0.1.12
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10.1
joblib==0.13.2
json-merge-patch==0.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lockfile==0.12.2
lxml==4.3.4
Mako==1.0.14
Markdown==2.6.11
MarkupSafe==1.1.1
mistune==0.8.4
ml-metadata==0.13.2
mock==2.0.0
monotonic==1.5
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
numpy==1.16.4
oauth2client==3.0.0
ordereddict==1.1
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
pbr==5.4.1
pendulum==1.4.4
pexpect==4.7.0
pickleshare==0.7.5
pkg-resources==0.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.0
psutil==5.6.3
ptyprocess==0.6.0
pyarrow==0.13.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pydot==1.2.4
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.3
python-daemon==2.1.2
python-dateutil==2.8.0
python-editor==1.0.4
python-snappy==0.5.4
python3-openid==3.1.0
pytz==2019.1
pytzdata==2019.2
PyYAML==3.13
pyzmq==18.0.2
qtconsole==4.5.2
requests==2.22.0
rsa==4.0
scikit-learn==0.21.2
scipy==1.1.0
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.12.0
smmap==0.9.0
smmap2==2.0.5
SQLAlchemy==1.2.19
tabulate==0.8.3
tenacity==4.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-data-validation==0.13.1
tensorflow-estimator==1.13.0
tensorflow-metadata==0.13.0
tensorflow-model-analysis==0.13.2
tensorflow-transform==0.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.2
tfx==0.13.0
thrift==0.11.0
tornado==6.0.3
traitlets==4.3.2
tzlocal==2.0.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.0
wrapt==1.11.2
WTForms==2.2.1
zope.deprecation==4.4.0
